.navigation-hz {
  max-height: 4rem;
  padding: 2rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--complementary-color);
  background: none;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
}

.left-nav {
  font-size: 2.5rem;
  font-weight: 900;
}

.nav-logo {
  color: var(--nav-logo-color);
  text-decoration: none;
  min-width: 1rem;
  height: 1rem;
}
.nav-logo img {
  width: 10rem;
  height: 3rem;
  margin: 1rem 0 0 1rem;
}

.right-nav {
  display: flex;
  justify-content: space-evenly;
}

.nav__search {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  width: 40%;
  display: flex;
  height: 3.5rem;
  margin-left:16rem;
}

.nav__search i {
  color: var(--grey-color);
  font-size: 1.5rem;
}

.nav__search input {
  border: none;
  outline: none;
  width: 95%;
}

.link {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.6rem;
  color: var(--btn-color);
  cursor: pointer;
  display: block;
  font-family: Roboto Mono, monospace;
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

.link:hover:not(.active) {
  background-color: var(--active-link-color);
  color: var(--header-bg-color);
}

.nav__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.icon {
  height: 0;
  width: 0;
  margin: 0 3rem;
}

.nav__links .icon-badge {
  color: var(--grey-color);
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;
  background: none;
}

.icon-text {
  font-size: 1.05rem;
}

@media (max-width: 400px) {
  .nav-logo img {
    width: 7rem;
    height: 3rem;
  }
  .icon {
    margin: 0 2rem;
  }
  .nav__links {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .nav-logo {
    display: none;
  }
}
